# LD Score calculation data analysis

In [707]:
# Testing the outputs of gcta
import pandas as pd
import numpy as np

df = pd.read_csv('gcta_output_1000/chr1.score.ld', sep='\s+', comment='#')
ld = df['ldscore']
print(np.mean(ld))
print(np.std(ld))
print(np.min(ld))
print(np.max(ld))

77.20471790528036
102.53322055587697
-18.7104
930.427

In [595]:
ld = load_ldscores()['ldscore']
print(np.mean(ld))
print(np.std(ld))
print(np.min(ld))
print(np.max(ld))

86.02253763116016
138.0273413724897
-43.3331
3558.8

In [593]:
# Intra-European LD Score Differences
def intra_european_analysis():
    """Calculate the LD scores of the subpopulations and their means
    NOTE: might have to do alignment of SNPs here as well
    """

    pop_dict = {}
    subpop = ['CEU', 'GBR', 'TSI', 'FIN']
    gwas_variants = pd.read_csv('final_ld_variants.txt', sep='\s+', comment='#', header=None)
    for pop in subpop:
        ld_list = []
        for i in range(1,23):
            ld_list += pd.read_csv('gcta_output_1000_{}/chr{}.score.ld'.format(pop, str(i)), sep='\s+', comment='#')['ldscore'].tolist()
        pop_dict[pop] = ld_list
    
    for pop in pop_dict.keys():
        print(pop, np.mean(pop_dict[pop]))
    
    correlation_matrix = np.corrcoef([pop_dict[elt] for elt in subpop])
    print(correlation_matrix)

intra_european_analysis()

CEU 108.13776851176041
GBR 106.45838399603205
TSI 100.85018480310791
FIN 125.16354713420286

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (4,) + inhomogeneous part.

In [592]:
pop_dict = {}
subpop = ['CEU', 'GBR', 'TSI', 'FIN']
gwas_variants = pd.read_csv('final_ld_variants.txt', sep='\s+', comment='#', header=None)
for pop in subpop:
    ld_list = []
    for i in range(1,2):
        ld_list += pd.read_csv('gcta_output_1000_{}/chr{}.score.ld'.format(pop, str(i)), sep='\s+', comment='#')['ldscore'].tolist()
    pop_dict[pop] = ld_list

for pop in pop_dict.keys():
    print(pop, np.mean(pop_dict[pop]))

CEU 97.2441202535181
GBR 94.7820603744863
TSI 90.16067657652862
FIN 113.47286522328261

# ld score regression main code

Thoughts: 
1. This is a regression, with inputs being the scaled ld scores + number of individuals, and output being the chi-squared values 
2. LD scores will all be taken from gcta_outputs_1000, since that appears to be what the paper has been doing and the GWAS summary statistics
    that are being provided don't have ld scores
3. Calculating the standard error will require some tricks with jackknifing, which is more complicated than just grabbing the standard error from sm.OLS's output

In [208]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [211]:
# Regression
def regression_gwas(chi2, ldscores, M, N, weights):
    """Calculates ldscore regression based on the formula given
    Parameters
    chi2: the chi2 outputs
    ldscores: ld scores from gcta, calculated from 1000 Genomes EUR reference data
    M: Number of SNPs
    N: Number of individuals
    weights: weights for regression that deal with correlation and heteroskedasticity

    Returns:
    h2: heritability, slope of the regression
    a: bias term
    """

    

    X = sm.add_constant(ldscores)
    model = sm.WLS(chi2, X, weights=weights)
    results = model.fit()

    return results

In [737]:
# Load in ld scores
def load_ldscores():
    """Loads in all ld scores from all chromosomes
    
    returns: dataframe of ldscores"""

    ldscores = pd.read_csv('gcta_output/chr1.score.ld', sep='\s+', comment='#')
    for i in range(2, 23):
        ldscores = pd.concat([ldscores, pd.read_csv('gcta_output_1000/chr{}.score.ld'.format(str(i)), sep='\s+', comment='#')])
    
    return ldscores

In [485]:
# Calculate Chi2
from scipy.stats import chi2

def calc_chi2(gwas, effect_size, standard_error = None, beta=True):
    """Calculates the chi2 row for a GWAS summary statistic
    Parameters:
    gwas: the gwas summary statistics as a dataframe. 
    effect_size: the name of the effect size column
    standard_error: the name of the standard error column
    beta: whether to use beta and se, or pvalue
    
    Returns:
    gwas: dataframe with the new chi2 values in a 'chi2' column"""

    if beta:
        gwas['chi2'] = np.square(pd.to_numeric(gwas[effect_size]).values / pd.to_numeric(gwas[standard_error]).values).tolist()
    else:
        gwas['chi2'] = chi2.isf(pd.to_numeric(gwas[effect_size]).values, 1).tolist()
    #print([(gwas['BETA'][a], gwas['SE'][a]) for a in [9206,168895,352748,467259,792156,866925,895607,914627,1062022] ])
    return gwas

In [ ]:
# Align files
def align_stats(gwas, ldscores, weights):
    """Returns a cut-down pair of gwas and ldscore dataframes where they only have the shared SNPs
    Parameters:
    gwas: dataframe of gwas statistics
    ldscores: dataframe of ldscore values
    weights: dataframe of the regression weights"""
    common_snps = set(gwas['SNPID']).intersection(set(ldscores['SNP'])).intersection(set(weights))

    # Filter the DataFrames to include only the common SNPs
    gwas = gwas[gwas['SNPID'].isin(common_snps)]
    ldscores = ldscores[ldscores['SNPID'].isin(common_snps)]
    weights = weights[weights.isin(common_snps)]

    return gwas, ldscores, weights

In [ ]:
# Preprocess data
def load_data(args, ldscores):
    """Takes in existing ld scores, loads in new files, then aligns their SNP positions
    Parameters
    args: dictionary with necessary parameters including path of files to load in
    ldscores: ld scores calculated from the 1000 Genomes EUR reference data
    
    Returns:
    gwas: dataframe of gwas statistics
    ldscores: dataframe of ldscore values
    weights: dataframe of the regression weights"""
    # Load in new files
    new_df = calc_chi2(pd.read_csv(args.input_file, sep='\s+', comment='#'))
    weights = pd.read_csv(args.weights_file, sep='\s+', comment='#')

    # Align the two file formats
    return align_stats(new_df, ldscores, weights)

In [ ]:
# Plotting
def plot_outputs(pvalues):
    """Plot the outputs of ld score regression in QQ plots"""

In [ ]:
# Process Output
def process_output(results):
    """Takes in results of regression and does data analysis
    Plots QQ plots, prints results
    Parameters:
    results: results of ld score regression
    """

# Misc Utils

In [143]:
# Get HapMap3 reference panel
import time

def load_hapmap():
    """Load in hapmap3 data
    
    Returns:
    List of unique hapmap3 SNPs"""
    # read in all map files
    pops = ['ASW', 'CEU', 'CHB', 'CHD', 'GIH', 'JPT', 'LWK', 'MEX', 'MKK', 'TSI', 'YRI']
    # turn into a list
    df_list = []
    for i in pops:
        df_list.append(pd.read_csv('../hapmap3/hapmap3_r1_b36_fwd.{}.qc.poly.recode.map'.format(i), sep='\s+', comment='#', header=None))
    df = pd.concat(df_list)



    filter_dict = filter_indices(long_read_snps(), accessibility_mask(), df)
    chr_range = [x for x in range(1,23)]
    def keep_row(row):
        """Whether the row satisfies the long read condition
        Parameters:
        row: A row of a dataframe. 0 is the chromosome, 1 is the snpid, 3 is the bp position"""
        if row.name % 10000 == 0:
            print(time.time())
            print(row)
        
        if int(row[0]) not in chr_range:
            return False
        else:
            return filter_dict[int(row[0])][int(row[3]) - 1] # 1 to 0-index
            
            # ranges = long_reads[row[0]]
            # for (start, end) in ranges:
            #     if int(row[3]) >= int(start) * 1e6 and int(row[3]) <= int(end) * 1e6:
            #         return False
            # mask_rows = mask[mask[0] == row[0]]
            # # Check if the SNP position is within the start and end positions of any row
            # in_bed = ((mask_rows[1] <= int(row[3])) & (mask_rows[2] >= int(row[3]))).any()
            
            # # Return False if the SNP is in the BED file (i.e., in_bed is True)
            # return not in_bed

    print("Starting...")
    df = df[df.apply(keep_row, axis=1)]
    # return the unique SNPs
    df_out = pd.DataFrame(list(set(df[1])))
    df_out.to_csv("final_variants.txt", sep=' ', index=False, header=False)

load_hapmap()

Time: 0.0
Chromosome 1
Start Accessibility
Time: 1665575652.6512449
Chromosome 2
Start Accessibility
Time: 1530575659.1940577
Chromosome 3
Start Accessibility
Time: 1624575664.589371
Chromosome 4
Start Accessibility
Time: 1664414359.733654
Chromosome 5
Start Accessibility
Time: 1578075674.5972164
Chromosome 6
Start Accessibility
Time: 1573575679.1957188
Chromosome 7
Start Accessibility
Time: 1658575683.4526908
Chromosome 8
Start Accessibility
Time: 1670575687.3800118
Chromosome 9
Start Accessibility
Time: 1670840878.1652706
Chromosome 10
Start Accessibility
Time: 1676575694.8701987
Chromosome 11
Start Accessibility
Time: 1626075698.5580418
Chromosome 12
Start Accessibility
Time: 1604075702.2120519
Chromosome 13
Start Accessibility
Time: 1653973354.3169866
Chromosome 14
Start Accessibility
Time: 1693779798.1974118
Chromosome 15
Start Accessibility
Time: 1659741670.9518373
Chromosome 16
Start Accessibility
Time: 1679652242.3968937
Chromosome 17
Start Accessibility
Time: 1674213421.6210577
Chromosome 18
Start Accessibility
Time: 1643715823.7339697
Chromosome 19
Start Accessibility
Time: 1667033176.4889166
Chromosome 20
Start Accessibility
Time: 1681575721.1872368
Chromosome 21
Start Accessibility
Time: 1665456226.4903026
Chromosome 22
Start Accessibility
Starting...
1713575724.569426
0            1
1    rs4124251
2            0
3        97215
Name: 0, dtype: object
1713575724.6148002
0             1
1    rs11261074
2             0
3      18998786
Name: 10000, dtype: object
1713575724.6583662
0           1
1    rs898983
2           0
3    38413138
Name: 20000, dtype: object
1713575724.7029843
0            1
1    rs1524715
2            0
3     57775997
Name: 30000, dtype: object
1713575724.7485154
0           1
1    rs211718
2           0
3    75879263
Name: 40000, dtype: object
1713575724.7924397
0            1
1    rs2301022
2            0
3     94145466
Name: 50000, dtype: object
1713575724.837198
0            1
1    rs3860210
2            0
3    112377484
Name: 60000, dtype: object
1713575724.8808074
0            1
1     rs857723
2            0
3    156870624
Name: 70000, dtype: object
1713575724.9242554
0             1
1    rs11799704
2             0
3     172649401
Name: 80000, dtype: object
1713575724.97078
0             1
1    rs17376588
2             0
3     191922051
Name: 90000, dtype: object
1713575725.0145867
0            1
1    rs7537388
2            0
3    209361502
Name: 100000, dtype: object
1713575725.0579743
0            1
1    rs2452552
2            0
3    227043323
Name: 110000, dtype: object
1713575725.1028907
0            1
1    rs7538434
2            0
3    241534545
Name: 120000, dtype: object
1713575725.1460712
0             2
1    rs11679891
2             0
3      10435606
Name: 130000, dtype: object
1713575725.1901348
0            2
1    rs2940794
2            0
3     28566920
Name: 140000, dtype: object
1713575725.235304
0             2
1    rs10084400
2             0
3      44086208
Name: 150000, dtype: object
1713575725.2796829
0            2
1    rs7607085
2            0
3     60127299
Name: 160000, dtype: object
1713575725.3233507
0             2
1    rs17015845
2             0
3      78995895
Name: 170000, dtype: object
1713575725.370431
0            2
1     rs972882
2            0
3    107386212
Name: 180000, dtype: object
1713575725.4138503
0            2
1     rs934915
2            0
3    128851901
Name: 190000, dtype: object
1713575725.4582999
0            2
1    rs1404683
2            0
3    149697157
Name: 200000, dtype: object
1713575725.5020032
0            2
1    rs6433124
2            0
3    170052306
Name: 210000, dtype: object
1713575725.5455985
0            2
1    rs1225107
2            0
3    190342783
Name: 220000, dtype: object
1713575725.5911973
0            2
1    rs4550605
2            0
3    211871386
Name: 230000, dtype: object
1713575725.6345592
0            2
1    rs9288639
2            0
3    229462042
Name: 240000, dtype: object
1713575725.6790888
0            3
1    rs2600307
2            0
3      2640519
Name: 250000, dtype: object
1713575725.724908
0            3
1    rs1454765
2            0
3     16085670
Name: 260000, dtype: object
1713575725.7686532
0             3
1    rs10428231
2             0
3      33316295
Name: 270000, dtype: object
1713575725.8117745
0            3
1    rs9861287
2            0
3     54134258
Name: 280000, dtype: object
1713575725.8543923
0             3
1    rs13088566
2             0
3      68811398
Name: 290000, dtype: object
1713575725.8974404
0            3
1    rs7620645
2            0
3     96637718
Name: 300000, dtype: object
1713575725.9411154
0             3
1    rs12637999
2             0
3     118056724
Name: 310000, dtype: object
1713575725.9850872
0            3
1    rs7615720
2            0
3    136617912
Name: 320000, dtype: object
1713575726.0285044
0            3
1    rs1984473
2            0
3    157293978
Name: 330000, dtype: object
1713575726.0712337
0             3
1    rs11921921
2             0
3     178280149
Name: 340000, dtype: object
1713575726.1194015
0            3
1     rs844518
2            0
3    196978488
Name: 350000, dtype: object
1713575726.1617463
0            4
1    rs1994942
2            0
3     14591635
Name: 360000, dtype: object
1713575726.205087
0             4
1    rs35447198
2             0
3      33894054
Name: 370000, dtype: object
1713575726.2491696
0            4
1    rs1479890
2            0
3     57308962
Name: 380000, dtype: object
1713575726.2914927
0           4
1    rs171388
2           0
3    78740549
Name: 390000, dtype: object
1713575726.3343103
0            4
1    rs6532754
2            0
3     99759399
Name: 400000, dtype: object
1713575726.3787036
0            4
1    rs3113988
2            0
3    121207914
Name: 410000, dtype: object
1713575726.4221194
0            4
1    rs2636670
2            0
3    143454043
Name: 420000, dtype: object
1713575726.4663978
0             4
1    rs17474564
2             0
3     165017638
Name: 430000, dtype: object
1713575726.510909
0            4
1    rs1350318
2            0
3    183644907
Name: 440000, dtype: object
1713575726.554824
0            5
1    rs7703532
2            0
3      7809316
Name: 450000, dtype: object
1713575726.5988107
0             5
1    rs10805782
2             0
3      25892696
Name: 460000, dtype: object
1713575726.6431117
0             5
1    rs17344896
2             0
3      45649982
Name: 470000, dtype: object
1713575726.6865623
0           5
1    rs351444
2           0
3    68413007
Name: 480000, dtype: object
1713575726.7322419
0             5
1    rs16869414
2             0
3      90404539
Name: 490000, dtype: object
1713575726.7768714
0            5
1    rs6893389
2            0
3    112421382
Name: 500000, dtype: object
1713575726.8215356
0             5
1    rs13174462
2             0
3     131245887
Name: 510000, dtype: object
1713575726.8665783
0            5
1    rs9885044
2            0
3    149231778
Name: 520000, dtype: object
1713575726.911706
0             5
1    rs17511302
2             0
3     167107624
Name: 530000, dtype: object
1713575726.9563427
0            6
1    rs3800168
2            0
3      2094662
Name: 540000, dtype: object
1713575726.9999654
0            6
1    rs2142672
2            0
3     16305173
Name: 550000, dtype: object
1713575727.044616
0             6
1    rs28780099
2             0
3      30459396
Name: 560000, dtype: object
1713575727.0887382
0           6
1    rs489743
2           0
3    42420978
Name: 570000, dtype: object
1713575727.1320105
0            6
1    rs9342496
2            0
3     66478535
Name: 580000, dtype: object
1713575727.1757824
0            6
1    rs6900270
2            0
3     86271226
Name: 590000, dtype: object
1713575727.2191389
0            6
1    rs2787538
2            0
3    106842177
Name: 600000, dtype: object
1713575727.2634795
0            6
1     rs608528
2            0
3    126648299
Name: 610000, dtype: object
1713575727.3066342
0            6
1    rs1011596
2            0
3    146118126
Name: 620000, dtype: object
1713575727.3512135
0            6
1    rs9458298
2            0
3    161884928
Name: 630000, dtype: object
1713575727.3950453
0            7
1    rs6974119
2            0
3      7370503
Name: 640000, dtype: object
1713575727.4382384
0             7
1    rs12540155
2             0
3      21317412
Name: 650000, dtype: object
1713575727.4834228
0           7
1    rs759415
2           0
3    36838240
Name: 660000, dtype: object
1713575727.5264742
0             7
1    rs17172352
2             0
3      54597948
Name: 670000, dtype: object
1713575727.5700314
0           7
1    rs659632
2           0
3    83138849
Name: 680000, dtype: object
1713575727.6161203
0            7
1    rs6961027
2            0
3    104673916
Name: 690000, dtype: object
1713575727.6688914
0            7
1     rs712713
2            0
3    127119422
Name: 700000, dtype: object
1713575727.7127032
0            7
1    rs7806761
2            0
3    146450289
Name: 710000, dtype: object
1713575727.755306
0             8
1    rs17066457
2             0
3       3429119
Name: 720000, dtype: object
1713575727.7980988
0            8
1    rs7009889
2            0
3     14610781
Name: 730000, dtype: object
1713575727.842862
0             8
1    rs17057073
2             0
3      27302533
Name: 740000, dtype: object
1713575727.886723
0            8
1    rs1895885
2            0
3     53173083
Name: 750000, dtype: object
1713575727.930513
0            8
1    rs1947915
2            0
3     72968139
Name: 760000, dtype: object
1713575727.9751294
0             8
1    rs10111251
2             0
3      95557976
Name: 770000, dtype: object
1713575728.0214112
0             8
1    rs10505243
2             0
3     116057525
Name: 780000, dtype: object
1713575728.0645077
0             8
1    rs11778661
2             0
3     133161087
Name: 790000, dtype: object
1713575728.1080327
0           9
1    rs574852
2           0
3     1714623
Name: 800000, dtype: object
1713575728.1510808
0            9
1    rs2382439
2            0
3     14130129
Name: 810000, dtype: object
1713575728.1938581
0            9
1    rs1438478
2            0
3     28709213
Name: 820000, dtype: object
1713575728.2381458
0             9
1    rs12344217
2             0
3      77829370
Name: 830000, dtype: object
1713575728.2804155
0            9
1    rs4743894
2            0
3     94945373
Name: 840000, dtype: object
1713575728.3237255
0            9
1    rs2255007
2            0
3    112189773
Name: 850000, dtype: object
1713575728.3689353
0            9
1    rs2900252
2            0
3    128617723
Name: 860000, dtype: object
1713575728.4121313
0            10
1    rs10904313
2             0
3       4692299
Name: 870000, dtype: object
1713575728.456077
0            10
1    rs34524053
2             0
3      17915885
Name: 880000, dtype: object
1713575728.5006618
0           10
1    rs2800816
2            0
3     34300270
Name: 890000, dtype: object
1713575728.54328
0           10
1    rs7393071
2            0
3     59214985
Name: 900000, dtype: object
1713575728.586633
0            10
1    rs16932633
2             0
3      77206052
Name: 910000, dtype: object
1713575728.6308942
0           10
1    rs7091054
2            0
3     95008434
Name: 920000, dtype: object
1713575728.6751235
0            10
1    rs11195597
2             0
3     113205630
Name: 930000, dtype: object
1713575728.7178867
0           10
1    rs9422853
2            0
3    128587723
Name: 940000, dtype: object
1713575728.763271
0           11
1    rs4237757
2            0
3      7626825
Name: 950000, dtype: object
1713575728.8055422
0           11
1    rs1355888
2            0
3     22570064
Name: 960000, dtype: object
1713575728.8492157
0           11
1    rs4550210
2            0
3     40729088
Name: 970000, dtype: object
1713575728.8923504
0          11
1    rs470192
2           0
3    65480867
Name: 980000, dtype: object
1713575728.935365
0           11
1    rs1354397
2            0
3     84913980
Name: 990000, dtype: object
1713575728.9797664
0            11
1    rs12270184
2             0
3     102035641
Name: 1000000, dtype: object
1713575729.0242877
0           11
1    rs4938733
2            0
3    119237628
Name: 1010000, dtype: object
1713575729.0686653
0           11
1    rs1289502
2            0
3    134159370
Name: 1020000, dtype: object
1713575729.111572
0           12
1    rs2950432
2            0
3     15756546
Name: 1030000, dtype: object
1713575729.154448
0           12
1    rs6488020
2            0
3     32002875
Name: 1040000, dtype: object
1713575729.1966474
0           12
1    rs1153152
2            0
3     53350623
Name: 1050000, dtype: object
1713575729.2416599
0           12
1    rs1443730
2            0
3     72233449
Name: 1060000, dtype: object
1713575729.2873375
0           12
1    rs3810784
2            0
3     93671613
Name: 1070000, dtype: object
1713575729.3327973
0            12
1    rs11066297
2             0
3     111354238
Name: 1080000, dtype: object
1713575729.3772926
0           12
1    rs7133282
2            0
3    127542026
Name: 1090000, dtype: object
1713575729.4214451
0           13
1    rs7329408
2            0
3     28064671
Name: 1100000, dtype: object
1713575729.4646342
0           13
1    rs4941479
2            0
3     43536923
Name: 1110000, dtype: object
1713575729.5099852
0           13
1    rs9540213
2            0
3     64237576
Name: 1120000, dtype: object
1713575729.552398
0           13
1    rs1935712
2            0
3     82704165
Name: 1130000, dtype: object
1713575729.597321
0           13
1     rs693442
2            0
3    100725498
Name: 1140000, dtype: object
1713575729.6418083
0            14
1    rs10146419
2             0
3      20130053
Name: 1150000, dtype: object
1713575729.6848335
0            14
1    rs11850839
2             0
3      37248914
Name: 1160000, dtype: object
1713575729.7297587
0          14
1    rs198228
2           0
3    56312173
Name: 1170000, dtype: object
1713575729.7731602
0            14
1    rs10142683
2             0
3      74625343
Name: 1180000, dtype: object
1713575729.8185465
0           14
1    rs3742717
2            0
3     92188421
Name: 1190000, dtype: object
1713575729.862287
0           15
1    rs7173839
2            0
3     24219029
Name: 1200000, dtype: object
1713575729.9052463
0          15
1    rs679569
2           0
3    43695663
Name: 1210000, dtype: object
1713575729.9495485
0            15
1    rs11635977
2             0
3      60157776
Name: 1220000, dtype: object
1713575729.994701
0            15
1    rs17875507
2             0
3      79377551
Name: 1230000, dtype: object
1713575730.0381615
0           15
1    rs4965043
2            0
3     96153139
Name: 1240000, dtype: object
1713575730.0814154
0           16
1    rs2304474
2            0
3      9443019
Name: 1250000, dtype: object
1713575730.1263883
0          16
1    rs713547
2           0
3    27739590
Name: 1260000, dtype: object
1713575730.1702592
0            16
1    rs16964413
2             0
3      60842865
Name: 1270000, dtype: object
1713575730.213397
0           16
1    rs1116525
2            0
3     77760691
Name: 1280000, dtype: object
1713575730.2576423
0           16
1    rs3212367
2            0
3     88514067
Name: 1290000, dtype: object
1713575730.301585
0           17
1    rs7213845
2            0
3     15505983
Name: 1300000, dtype: object
1713575730.34521
0            17
1    rs12602059
2             0
3      38929256
Name: 1310000, dtype: object
1713575730.3886354
0            17
1    rs12453147
2             0
3      60581153
Name: 1320000, dtype: object
1713575730.4334772
0           17
1    rs4789807
2            0
3     78149392
Name: 1330000, dtype: object
1713575730.4781837
0            18
1    rs16942790
2             0
3      17369129
Name: 1340000, dtype: object
1713575730.522901
0            18
1    rs10502735
2             0
3      36206995
Name: 1350000, dtype: object
1713575730.5666916
0           18
1    rs8096384
2            0
3     53670210
Name: 1360000, dtype: object
1713575730.611876
0            18
1    rs17088418
2             0
3      69658379
Name: 1370000, dtype: object
1713575730.655539
0           19
1    rs4545929
2            0
3     11588503
Name: 1380000, dtype: object
1713575730.7006059
0            19
1    rs35617825
2             0
3      40936827
Name: 1390000, dtype: object
1713575730.7631588
0          19
1    rs497264
2           0
3    60801728
Name: 1400000, dtype: object
1713575730.8070028
0           20
1    rs1997877
2            0
3     11219614
Name: 1410000, dtype: object
1713575730.8520274
0           20
1    rs6058470
2            0
3     29880488
Name: 1420000, dtype: object
1713575730.8957546
0          20
1    rs663890
2           0
3    47838575
Name: 1430000, dtype: object
1713575730.9413102
0            21
1    rs28363862
2             0
3       9882667
Name: 1440000, dtype: object
1713575730.9854734
0           21
1    rs2832747
2            0
3     30568678
Name: 1450000, dtype: object
1713575731.02937
0           21
1    rs2838798
2            0
3     45420272
Name: 1460000, dtype: object
1713575731.073696
0           22
1    rs7289526
2            0
3     31127959
Name: 1470000, dtype: object
1713575731.1180165
0           22
1    rs1117482
2            0
3     46620949
Name: 1480000, dtype: object
1713575731.147207
0           23
1    rs5955721
2            0
3     19105471
Name: 1490000, dtype: object
1713575731.1707156
0           23
1    rs5991424
2            0
3     42764926
Name: 1500000, dtype: object
1713575731.1941967
0           23
1    rs2748742
2            0
3     85322626
Name: 1510000, dtype: object
1713575731.2174525
0           23
1    rs2157422
2            0
3    115538986
Name: 1520000, dtype: object
1713575731.2415383
0           23
1    rs6636779
2            0
3    141531727
Name: 1530000, dtype: object
1713575731.2557197
0             1
1    rs11510103
2             0
3        557616
Name: 0, dtype: object
1713575731.2993991
0            1
1    rs1567102
2            0
3     20317060
Name: 10000, dtype: object
1713575731.3435893
0            1
1    rs1073197
2            0
3     41832409
Name: 20000, dtype: object
1713575731.386038
0            1
1    rs2148025
2            0
3     62577555
Name: 30000, dtype: object
1713575731.429623
0           1
1    rs319673
2           0
3    82911207
Name: 40000, dtype: object
1713575731.4730911
0             1
1    rs17126738
2             0
3     102818243
Name: 50000, dtype: object
1713575731.5165129
0            1
1    rs3748612
2            0
3    150009422
Name: 60000, dtype: object
1713575731.5590222
0            1
1    rs3917820
2            0
3    167831369
Name: 70000, dtype: object
1713575731.602864
0             1
1    rs17374523
2             0
3     188276651
Name: 80000, dtype: object
1713575731.6451979
0             1
1    rs13376651
2             0
3     208367114
Name: 90000, dtype: object
1713575731.6879675
0            1
1     rs237787
2            0
3    227505451
Name: 100000, dtype: object
1713575731.751791
0            1
1    rs7550851
2            0
3    243819796
Name: 110000, dtype: object
1713575731.7950757
0             2
1    rs16861129
2             0
3      14119190
Name: 120000, dtype: object
1713575731.8384426
0             2
1    rs11687252
2             0
3      33688000
Name: 130000, dtype: object
1713575731.8821678
0             2
1    rs17039940
2             0
3      50212774
Name: 140000, dtype: object
1713575731.925688
0            2
1    rs6741400
2            0
3     69054296
Name: 150000, dtype: object
1713575731.9683876
0            2
1    rs8179690
2            0
3     99161732
Name: 160000, dtype: object
1713575732.0114634
0             2
1    rs11122867
2             0
3     122231684
Name: 170000, dtype: object
1713575732.0549052
0             2
1    rs12691691
2             0
3     144215177
Name: 180000, dtype: object
1713575732.0980241
0            2
1    rs7577431
2            0

In [461]:
# Merge SNPs with LD score SNPs
def merge_with_ld():
    """Takes the filtered HapMap3 SNPs and intersects them with the SNPs used in LD Score calculation

    Saves the outputs as final_ld_variants.txt"""
    
    filtered_variants = pd.read_csv('final_variants.txt', sep='\s+', comment='#', header=None)
    ldscores = load_ldscores()
    intersection = np.intersect1d(filtered_variants[0].values, ldscores['SNP'].values)
    attenuation_df = pd.read_csv('disattenuation/standard_errors.txt', sep='\s+', comment='#')
    pd.DataFrame(intersection).merge(attenuation_df, left_on=0, right_on="SNP").to_csv("final_ld_variants.txt", columns=["SNP"], sep=' ', index=False, header=False)

merge_with_ld()

In [462]:
pd.read_csv('final_ld_variants.txt', sep='\s+', comment='#', header=None)

                  0
0         rs1000000
1        rs10000010
2        rs10000012
3         rs1000002
4        rs10000023
...             ...
1313459   rs9999978
1313460   rs9999979
1313461   rs9999992
1313462   rs9999995
1313463   rs9999998

[1313464 rows x 1 columns]

In [142]:
# Filtered Indices
import numpy as np
import time

def filter_indices(long_reads, mask, hapmap):
    """Takes in the ranges from the long read SNPs and the Accessibility Mask and returns 22 boolean arrays on whether to remove them
    This function is necessary as otherwise the load_hapmap() function will take, conservatively, over a hundred hours
    Parameters:
    long_reads: the long read SNPs
    mask: the accessibility mask
    hapmap: the hapmap data

    Returns:
    filter_dict: dictionary with 22 chromosome filter arrays
    """

    filter_dict = {}
    start = time.time()
    for chr in range(1, 23):
        print("Time:", time.time() - start)
        start = time.time()

        print("Chromosome", chr, flush=True)
        # Get relevant chromosome rows
        mask_rows = mask[mask[0] == chr]
        hapmap_rows = hapmap[hapmap[0] == chr]

        # Get the size of the filter array
        max_end = max(max(mask_rows[2]), max(hapmap_rows[3]))
        filter_dict[chr] = np.array([False] * max_end)
        
        # Apply on Accessibility Mask
        print("Start Accessibility")
        start_indices = mask_rows[1].to_list()
        end_indices = mask_rows[2].to_list()
        for start, end in zip(start_indices, end_indices):
            filter_dict[chr][start:end] = True
        # def row_func(row):
        #     filter_dict[chr][row[1]:row[2]] = [False] * (row[2] - row[1] + 1)
        #     return True
        # mask_rows.apply(lambda row: row_func(row), axis=1) 

        # Apply on Long Reads
        if chr in long_reads.keys():
            for (start, end) in long_reads[chr]:
                start = int(min(start * 1000000, len(filter_dict[chr])))
                end = int(min(end * 1000000, len(filter_dict[chr])))
                filter_dict[chr][start*1000000:end*1000000] = True #[False] * [end - start + 1]
    

    # with open("filtered_dict.npy", "w") as f:
    #     np.save(f, filter_dict)
    return filter_dict

In [118]:
# Remove Long Reads
def long_read_snps():
    """Removes SNPs in the region of long reads from hapmap"""
    long_read = {}
    long_read[1] = [(48, 52)]
    long_read[2] = [(86, 100.5), (134.5, 138), (183, 190)]
    long_read[3] = [(47.5, 50), (83.5, 8), (89, 97.5)]
    long_read[5] = [(44.5, 50.5), (98, 100.5), (129, 132), (135.5, 138.5)]
    long_read[6] = [(57, 64), (140, 142.5)]
    long_read[7] = [(55, 66)]
    long_read[8] = [(8, 12), (43,50)]
    long_read[10] = [(37, 43)]
    long_read[11] = [(87.5, 90.5)]
    long_read[12] = [(33, 40), (109.5, 112)]
    long_read[20] = [(32, 34.5)]

    return long_read

In [97]:
# accessibility mask
def accessibility_mask():
    """Loads in the accessibility mask of the chromosome
    
    Returns: 
    mask: a dictionary of regions where the data should avoid"""
    mask = pd.read_csv('../mask/conversions.bed', sep='\s+', comment='#', header=None)
    mask[0] = mask[0].apply(lambda x : x[3:]) # Convert to GRCh37
    def is_number(value):
        try:
            float(value)
            return True
        except ValueError:
            return False

    # Apply the function to the column of interest
    is_number = mask[0].apply(is_number)

    # Remove rows where 'column_name' is not a number
    mask = mask[is_number]
    mask[0] = pd.to_numeric(mask[0])
    return mask

In [463]:
# Get shared SNPs for regression weights

def regression_weight_1(args):
    """Gets the common SNPs for this GWAS for use in calculating the first regression weight
        Saves the common SNPs in a text file in the folder of the GWAS analysis
    Parameters:
    args: dict with gwas file name
    """

    hapmap_data = pd.read_csv('final_ld_variants.txt', sep='\s+', comment='#', header=None)
    gwas_snps = pd.read_csv(args.gwas_path, sep='\s+', comment='#').dropna(subset=[args.beta, args.se])
    common_snps = pd.DataFrame(np.intersect1d(hapmap_data[0].values, gwas_snps[args.gwas_snp].values))

    common_snps.to_csv(args.gwas_moniker + "/variants.txt", sep=' ', index=False, header=False)

In [240]:
pd.read_csv('Height/variants.txt', sep='\s+', comment='#', header=None)

                  0
0         rs1000000
1        rs10000010
2        rs10000012
3        rs10000023
4        rs10000025
...             ...
1199172   rs9999963
1199173   rs9999966
1199174   rs9999979
1199175   rs9999992
1199176   rs9999995

[1199177 rows x 1 columns]

In [238]:
class args:
    def __init__(self, gwas_path, gwas_moniker, gwas_snp, beta, se):
        self.gwas_path = gwas_path
        self.gwas_moniker = gwas_moniker
        self.gwas_snp = gwas_snp
        self.beta = beta
        self.se = se

In [483]:
# arg = {"gwas_path" : "../GIANT/GIANT_HEIGHT_YENGO_2022_GWAS_SUMMARY_STATS_EUR", "gwas_moniker" : "Height", "gwas_snp" : "RSID"}
arg = args("../gwas_files/pgc.scz.full.2012-04.txt", 'scz', 'snpid', 'pval', 'snpid')
regression_weight_1(arg)

In [447]:
# load in ld scores for the first weight
def get_first_weight(gwas, attenuation_df):
    """Gets the weight from the corresponding folders
    Parameters:
    gwas: gwas path (e.g. Height)"""
    ldscores = pd.read_csv(gwas + '/gcta_output/chr1.score.ld', sep='\s+', comment='#')
    for i in range(2, 23):
        ldscores = pd.concat([ldscores, pd.read_csv(gwas + '/gcta_output/chr{}.score.ld'.format(str(i)), sep='\s+', comment='#')])
    ldscores = ldscores.merge(attenuation_df, left_on="SNP", right_on="SNP")
    return ldscores['ldscore'] #1/ (1 + np.fmax(ldscores))

In [754]:
# Second weight
def second_weight(chi2, ldscores, M, N, first_weight):
    """Calculates ldscore regression based on the formula given
    Parameters
    chi2: the chi2 outputs
    ldscores: ld scores from gcta, calculated from 1000 Genomes EUR reference data
    M: Number of SNPs
    N: Number of individuals
    first_weight: first_weight, the ld score

    Returns:
    h2: heritability, slope of the regression
    a: bias term
    """

    

    X = sm.add_constant(ldscores)
    
    model = sm.OLS(chi2, X)
    results = model.fit()
    print("param:", results.params)
    return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight + 1, 1.0)) + 1)

In [757]:
def get_weight_params(gwas, gwas_data, gwas_file, gwas_snp, effect_size, standard_error):
    """Stopgap function that loads in and merges all regression data for easier testing
    Parameters:
    gwas: gwas path (e.g. Height)
    gwas_data: path to the gwas data folder (e.g. ../GIANT)
    gwas_file: gwas dframe, e.g. GIANT_HEIGHT_YENGO_2022_GWAS_SUMMARY_STATS_EUR
    gwas_snp: label in gwas_file for the RSID
    effect_size: label for the gwas effect size
    standard_error: label for the gwas standard error"""
    start = time.time()

    attenuation_df = pd.read_csv('disattenuation/standard_errors.txt', sep='\s+', comment='#')
    first_ldscores = get_first_weight(gwas, attenuation_df)
    gwas_variants = pd.read_csv(gwas + '/variants.txt', sep='\s+', comment='#', header=None)
    gwas_df = pd.read_csv(gwas_data + '/' + gwas_file, sep='\s+', comment='#')
    
    ldscores = load_ldscores()

    print("Done Loading", time.time() - start)
    start = time.time()

    merged_gwas = calc_chi2(gwas_df.merge(gwas_variants, left_on=gwas_snp, right_on=0).merge(ldscores, left_on=gwas_snp, right_on="SNP").merge(attenuation_df, left_on="SNP", right_on="SNP"), effect_size, standard_error, False)
    
    print("Chi2 Obtained", time.time() - start, "SNPs", len(merged_gwas['SNP']))

    return first_ldscores, gwas_variants, merged_gwas

first_ldscores, gwas_variants, merged_gwas = get_weight_params('bipolar', "../gwas_files", 'pgc.bip.full.2012-04.txt', 'snpid', 'pval', 'snpid')

Done Loading 38.67346262931824
Chi2 Obtained 23.089512586593628 SNPs 1134890

In [764]:
# Scratchpad for testing regressions

start = time.time()

M = gwas_variants[0].size
N = 378
second_weights = second_weight(merged_gwas['chi2'] *  1.187, merged_gwas['ldscore'], M, N, merged_gwas['ldscore'])

print("Second Weight Obtained", time.time() - start)
start = time.time()

weights = 1 / (np.multiply(np.array(np.fmax(first_ldscores + 1, 1.0)), second_weights)) 
#weights = np.array(np.fmax(first_ldscores, 1)) * 2 * second_weights
# print(np.isnan(np.fmax(first_ldscores, 1)).any(), np.isnan(second_weights).any(), np.isnan(weights).any(), np.isnan(merged_gwas['chi2']).any(), np.isnan(merged_gwas['ldscore']).any())

disattenuation = 1 / np.sqrt(np.multiply(np.square(merged_gwas['atten']), second_weights))

weights = np.multiply(weights, disattenuation)

print(weights)
regression_output = regression_gwas(merged_gwas['chi2'] *  1.187, merged_gwas['ldscore'], M, N, weights)

print("Regression completed", time.time() - start)

param: const      1.294905
ldscore    0.000712
dtype: float64
Second Weight Obtained 0.05807900428771973
0          0.069180
1          0.093058
2          0.069805
3          0.046733
4          0.039350
             ...
1134885    0.015052
1134886    0.040836
1134887    0.031163
1134888    0.038941
1134889    0.056651
Length: 1134890, dtype: float64
Regression completed 0.07553887367248535

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\139673168.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight + 1, 1.0)) + 1)

In [765]:
print(regression_output.params[0], regression_output.params[1]*N)

1.2576125886092844 0.3159255960134252

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3766664765.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1]*N)

In [660]:
regression_output.params

const      1.046381
ldscore    0.001595
dtype: float64

In [724]:
def get_weights(gwas, gwas_data, gwas_file, gwas_snp, effect_size, standard_error, gc=1, use_beta=True):
    """Get first and second weights
    Parameters:
    gwas: gwas path (e.g. Height)
    gwas_data: path to the gwas data folder (e.g. ../GIANT)
    gwas_file: gwas dframe, e.g. GIANT_HEIGHT_YENGO_2022_GWAS_SUMMARY_STATS_EUR
    gwas_snp: label in gwas_file for the RSID
    effect_size: label for the gwas effect size
    standard_error: label for the gwas standard error
    gc: the genomic control value to reinflate the chi2 statistics
    use_beta: whether to use the beta and se or p value to calculate chi2
    
    Prints the intercept"""
    start = time.time()

    attenuation_df = pd.read_csv('disattenuation/standard_errors.txt', sep='\s+', comment='#')
    first_ldscores = get_first_weight(gwas, attenuation_df)
    gwas_variants = pd.read_csv(gwas + '/variants.txt', sep='\s+', comment='#', header=None)
    gwas_df = pd.read_csv(gwas_data + '/' + gwas_file, sep='\s+', comment='#')
    
    ldscores = load_ldscores()

    print("Done Loading", time.time() - start)
    start = time.time()

    merged_gwas = calc_chi2(gwas_df.merge(gwas_variants, left_on=gwas_snp, right_on=0).merge(ldscores, left_on=gwas_snp, right_on="SNP").merge(attenuation_df, left_on="SNP", right_on="SNP"), effect_size, standard_error, use_beta)
    
    print("Chi2 Obtained", time.time() - start, "SNPs", len(merged_gwas['SNP']))
    start = time.time()
    # print(merged_gwas['ldscore'])
    # Do the ldscores need to be fmaxed?
    M = gwas_variants[0].size
    N = 378
    second_weights = second_weight(merged_gwas['chi2'] *  gc, merged_gwas['ldscore'], M, N, merged_gwas['ldscore'])

    print("Second Weight Obtained", time.time() - start)
    start = time.time()

    weights = 1 / (np.multiply(np.array(np.fmax(first_ldscores + 1, 1.0)), second_weights)) 
    #weights = np.array(np.fmax(first_ldscores, 1)) * 2 * second_weights
    # print(np.isnan(np.fmax(first_ldscores, 1)).any(), np.isnan(second_weights).any(), np.isnan(weights).any(), np.isnan(merged_gwas['chi2']).any(), np.isnan(merged_gwas['ldscore']).any())

    disattenuation = 1 / np.sqrt(np.multiply(np.square(merged_gwas['atten']), second_weights))

    weights = np.multiply(weights, disattenuation)

    print(weights)
    regression_output = regression_gwas(merged_gwas['chi2'] *  gc, merged_gwas['ldscore'], M, N, weights)

    print("Regression completed", time.time() - start)

    print(regression_output.params[0], regression_output.params[1] * N)

In [725]:
# Height
get_weights('height', "../gwas_files", 'GIANT_HEIGHT_LangoAllen2010_publicrelease_HapMapCeuFreq.txt', 'MarkerName', 'p', 'MarkerName', 1.478, False)

Done Loading 37.179243326187134
Chi2 Obtained 20.58875823020935 SNPs 1140214
param: const      1.430369
ldscore    0.004503
dtype: float64
Second Weight Obtained 0.09049558639526367
0          0.041845
1          0.027645
2          0.035661
3          0.050463
4          0.021751
             ...
1140209    0.051854
1140210    0.011105
1140211    0.016889
1140212    0.031519
1140213    0.010782
Length: 1140214, dtype: float64

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\2870451518.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * N)

Regression completed 0.12083125114440918
1.3983410992436238 1.8520580349147884

In [726]:
# bmi
get_weights('bmi', "../gwas_files", 'GIANT_BMI_Speliotes2010_publicrelease_HapMapCeuFreq.txt', 'MarkerName', 'p', 'MarkerName', 1.090, False)

Done Loading 61.87524390220642
Chi2 Obtained 22.804320335388184 SNPs 1140975
param: const      1.017011
ldscore    0.001596
dtype: float64
Second Weight Obtained 0.09157586097717285
0          0.041807
1          0.027628
2          0.035660
3          0.050588
4          0.021806
             ...
1140970    0.051895
1140971    0.011106
1140972    0.016893
1140973    0.031487
1140974    0.010771
Length: 1140975, dtype: float64

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\2870451518.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * N)

Regression completed 0.12433362007141113
0.9965900377349166 0.6950661452212179

In [727]:
# waist
get_weights('waist', "../gwas_files", 'GIANT_WHRadjBMI_Heid2010_publicrelease_HapMapCeuFreq.txt', 'MarkerName', 'p', 'MarkerName', 1.330, False)

Done Loading 61.36721897125244
Chi2 Obtained 22.743091821670532 SNPs 1126058
param: const      1.330762
ldscore    0.000510
dtype: float64
Second Weight Obtained 0.0887296199798584
0          0.041801
1          0.027749
2          0.038457
3          0.050876
4          0.023783
             ...
1126053    0.039964
1126054    0.016948
1126055    0.015111
1126056    0.031658
1126057    0.013064
Length: 1126058, dtype: float64
Regression completed 0.1157999038696289
1.3239821798346547 0.21938783947550006

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\2870451518.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * N)

In [728]:
# education
get_weights('education', "../gwas_files", 'SSGAC_EduYears_Rietveld2013_publicrelease.txt', 'MarkerName', 'Pvalue', 'MarkerName', 1.220, False)

Done Loading 49.66522979736328
Chi2 Obtained 11.720123291015625 SNPs 1088091
param: const      1.372808
ldscore    0.001092
dtype: float64
Second Weight Obtained 0.05253195762634277
0          0.036013
1          0.061763
2          0.037009
3          0.024561
4          0.018799
             ...
1088086    0.032514
1088087    0.033159
1088088    0.015475
1088089    0.032842
1088090    0.041009
Length: 1088091, dtype: float64
Regression completed 0.06591534614562988
1.3156363360746206 0.4716622269183539

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\2870451518.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * N)

In [729]:
# college
get_weights('college', "../gwas_files", 'SSGAC_College_Rietveld2013_publicrelease.txt', 'MarkerName', 'Pvalue', 'MarkerName', 1.207, False)

Done Loading 37.295104026794434
Chi2 Obtained 11.79168152809143 SNPs 1091686
param: const      1.343896
ldscore    0.001118
dtype: float64
Second Weight Obtained 0.05286836624145508
0          0.033564
1          0.060763
2          0.034059
3          0.022572
4          0.017526
             ...
1091681    0.032564
1091682    0.033194
1091683    0.015456
1091684    0.032746
1091685    0.040882
Length: 1091686, dtype: float64
Regression completed 0.0703272819519043
1.2983511214306966 0.44576783783199453

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\2870451518.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * N)

In [730]:
# fasting
get_weights('fasting', "../gwas_files", 'MAGIC_ln_FastingInsulin.txt', 'snp', 'pvalue', 'snp', 1.041, False)

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
# artery
get_weights('artery', "../gwas_files", 'CARDIoGRAM_GWAS_RESULTS.txt', 'SNP', 'pvalue', 'SNP', 1.125, False)

Done Loading 40.671815633773804
Chi2 Obtained 12.6837317943573 SNPs 1126872
param: const      1.197695
ldscore    0.000599
dtype: float64
Second Weight Obtained 0.056548118591308594
0          0.065954
1          0.065638
2          0.044278
3          0.029131
4          0.055310
             ...
1126867    0.032265
1126868    0.033696
1126869    0.042572
1126870    0.031324
1126871    0.039161
Length: 1126872, dtype: float64
Regression completed 0.0716552734375
1.1680078836643801 2.2266452330875612

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3283508164.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * M / N)

In [ ]:
# depression
get_weights('depression', "../gwas_files", 'pgc.mdd.full.2012-04.txt', 'snpid', 'pval', 'snpid', 1, False)

Done Loading 36.74102711677551
Chi2 Obtained 11.378296852111816 SNPs 1161115
param: const      1.016590
ldscore    0.000357
dtype: float64
Second Weight Obtained 0.05639934539794922
0          0.080440
1          0.028581
2          0.047852
3          0.037066
4          0.048094
             ...
1161110    0.038790
1161111    0.083991
1161112    0.051395
1161113    0.053418
1161114    0.053707
Length: 1161115, dtype: float64
Regression completed 0.07138252258300781
0.9994790003665663 1.0759722415327613

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3283508164.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * M / N)

In [ ]:
# cross
get_weights('cross', "../gwas_files", 'pgc.cross.full.2013-03.txt', 'snpid', 'pval', 'snpid', 1, False)

Done Loading 36.99411416053772
Chi2 Obtained 11.744894027709961 SNPs 1165995
param: const      1.080475
ldscore    0.001011
dtype: float64
Second Weight Obtained 0.056765079498291016
0          0.080039
1          0.089529
2          0.028432
3          0.047128
4          0.035724
             ...
1165990    0.038897
1165991    0.084164
1165992    0.051396
1165993    0.053537
1165994    0.053758
Length: 1165995, dtype: float64
Regression completed 0.07088255882263184
1.0351757903257028 3.7496047861046558

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3283508164.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * M / N)

In [ ]:
# bipolar
get_weights('bipolar', "../gwas_files", 'pgc.bip.full.2012-04.txt', 'snpid', 'pval', 'snpid', 1, False)

Done Loading 38.52571439743042
Chi2 Obtained 11.937570095062256 SNPs 1134890
param: const      1.073080
ldscore    0.000695
dtype: float64
Second Weight Obtained 0.05725884437561035
0          0.066219
1          0.091289
2          0.065058
3          0.043758
4          0.037499
             ...
1134885    0.015067
1134886    0.040876
1134887    0.031194
1134888    0.038980
1134889    0.056707
Length: 1134890, dtype: float64
Regression completed 0.07067704200744629
1.0445012638889848 2.5108827540926892

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3283508164.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * M / N)

In [ ]:
# adhd
get_weights('adhd', "../gwas_files", 'pgc.adhd.full.2012-10.txt', 'snpid', 'pval', 'snpid', 1, False)

Done Loading 36.37403631210327
Chi2 Obtained 11.451959133148193 SNPs 1146435
param: const      1.019998
ldscore    0.000070
dtype: float64
Second Weight Obtained 0.05543923377990723
0          0.081420
1          0.094419
2          0.029477
3          0.049900
4          0.037466
             ...
1146430    0.033765
1146431    0.031411
1146432    0.039236
1146433    0.034110
1146434    0.042721
Length: 1146435, dtype: float64
Regression completed 0.06944727897644043
1.000252913068115 0.3873870837301975

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3283508164.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * M / N)

In [ ]:
# scz
get_weights('scz', "../gwas_files", 'pgc.scz.full.2012-04.txt', 'snpid', 'pval', 'snpid', 1, False)

Done Loading 36.963457345962524
Chi2 Obtained 11.953407764434814 SNPs 1166286
param: const      1.076245
ldscore    0.001497
dtype: float64
Second Weight Obtained 0.0581212043762207
0          0.080162
1          0.089755
2          0.028954
3          0.047274
4          0.035964
             ...
1166281    0.038897
1166282    0.084165
1166283    0.051396
1166284    0.053537
1166285    0.053758
Length: 1166286, dtype: float64
Regression completed 0.07321381568908691
1.046380864303043 4.920615175461235

C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\928207817.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.square(np.multiply(N * min(max((M * results.params[1] / N ), 0), 1) / M, np.fmax(first_weight, 1.0)) + 1)
C:\Users\Lingxiao Guan\AppData\Local\Temp\ipykernel_33764\3283508164.py:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(regression_output.params[0], regression_output.params[1] * M / N)